.items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;

  &-container {
    .create-item-btn {
      margin-bottom: 30px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    .item:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
